@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Moon+Dance&display=swap');

body {
  margin: 0;
  /*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Archivo";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove default icons from date and time inputs (cross-browser) */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
}

/* For Firefox */
input[type="date"],
input[type="time"] {
  -moz-appearance: textfield;
}

/* Optional: Remove spin buttons from time input (in some browsers) */
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

.no-scroll {
  overflow: hidden;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.animate-scroll-up {
  animation: scrollUp 20s linear infinite;
}

.animate-scroll-down {
  animation: scrollDown 20s linear infinite;
}